[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    CG28
    M117 Z-Calibration..
    #_SET_LOWER_STEPPER_CURRENT  # I lower the stepper current for homing and probing 
    CheckProbe action=query
    Attach_Probe    
    BASE_CALIBRATE_Z
    Dock_Probe
    #_RESET_STEPPER_CURRENT      # resetting the stepper current
    M117


# some borrowed from ellis.. I'll edit more later.
[gcode_macro M190]
rename_existing: M99190
gcode:
	# Parameters
	{% set S = params.S|int %}                                   

	M140 {% for p in params
	  %}{'%s%s' % (p, params[p])}{%
	  endfor %}																	# Set bed temp
	TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S|int} MAXIMUM={S|int + 5}		# Wait for bed temp

# Replace M109 (Wait for Hotend Temperature) with TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M109]
rename_existing: M99109
gcode:
	{% set S = params.S|int %}                                   

	M104 {% for p in params
	  %}{'%s%s' % (p, params[p])}{%
	  endfor %}
	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S} MAXIMUM={S|int + 5}


# Wait for chamber temp, crank the hotend part cooling fan to assist.
[gcode_macro M191]
variable_chambertargettemp: 0
gcode:
	# Parameters
	{% set s = params.S|default(1)|float %}
	
	M106 S255
	TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={S} #MAXIMUM={S|int + 10}
	M106 S0

[gcode_macro RELATIVE]
gcode:
	G91

[gcode_macro ABSOLUTE]
gcode:
	G90